.comment {
    margin-bottom: 24px;
}

.comment__header {
    margin-bottom: 8px;
}

.comment__header__username {
    font-weight: 600;
}

.comment__header__date {
    font-weight: 200;
    margin-left: 6px;
}

.comment__body {
    padding: 6px;
}

.comment__input-area {
    width: 650px;
    border: 1px solid black;
    resize: none;
    margin-top: 6px;
}
