footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__disclaimers {
    width: 40%;
}

.footer__disclaimers p {
    font-size: 10pt;
}

.footer__links {
    width: 60%;
}

.footer__links ul {
    list-style: none;
}

.footer__links ul li {
    text-align: right;
}